<div class='container'>
	<% flash.each do |key, value| %>
  	<div class="alert alert-<%= key %> "><%= value %></div>
  <% end %>
	<div class='row'>

		<div class='col-md-8'>
			<h2>Trackers:</h2>
			<p>
You currently have <%= @trackers.count %> active trackers</p>
			sort by name | <a href="#">sort by date</a> <br/>
			<ol>
			<%# 
			do partial here - for sort order
			alphabetical: 
			<% @trackers.sort_by(&:keywords).each do |tracker| %>
				<% @trackers.sort_by(&:updated_at).reverse.each do |tracker| %>
				<li>
				<strong><%= tracker[:keywords] %></strong> <form action='/trackers' method='GET'><input type='hidden' name='tracker_id' value='<%= tracker[:id] %>'><input type='submit' value='Edit'></form><form action='/trackers' method='POST'><input type='hidden' name='_method' value='DELETE' /><input type='hidden' name='tracker_id' value='<%= tracker[:id] %>'><input type='submit' value='Remove'></form><br /></li>
				<% end %>
			</ol>
		</div>

		<div class='col-md-4'>
			<h2>Profile info</h2>
			<strong>Name:</strong> <% if @user.name %>
									<%= @user.name %><br/> 
								<% else %>
									<form action='/user' method='POST'><input type='text' placeholder='Add your name...' name='user[name]'><input type='hidden' name='_method' value='patch'><input type='submit' value='Save'></form>
								<% end %>
			<strong>Email:</strong> <%= @user.email %><br/>
			<strong>Member since:</strong> <%= @user.created_at.to_date %><br/>
			[<a href="#">Change password</a>]<br/>
			[<a href="#">Delete account</a>]<br/><br/>

			<h3>Forum activity</h3>
			Number of <a href="/forum">forum</a> posts: 1<br/>
			Latest post: <a href="/forum/:category/:id/:post/:id">*NOOB* Why is there no category?</a><br/>
			</p>
		</div>
	
	</div>

</div>