<strong>Change menu to "Log out"...</strong>
<h2>You are now logged in to Torrent Watch.</h2>
<div>
<p>
Your notifications: sort by name | sort by created_date <br/>
<ol>
<%# 
do partial here - for sort order
alphabetical: 
<% @trackers.sort_by(&:keywords).each do |tracker| %>

<% @trackers.sort_by(&:updated_at).reverse.each do |tracker| %>
<li>
<%= tracker[:keywords] %> <a href="#">Edit</a> | <a href="#">Pause</a> | <a href="#">Remove</a>]<br />
Notification: immediately [x], daily, weekly, monthly [x].</li>
<% end %>

</ol>
<p>
Active trackers: <%= @trackers.count %></p>
<p><a href="#">Notification archive</a> (22 listings)
</p>

<h2>Profile info</h2>
Name: <%= @user.name ||= 'You have not entered your name yet!' %> [<a href="#">edit</a>]<br/>
Member since: <%= @user.created_at.to_date %><br/>
Email: <%= @user.email %> [<a href="#">change</a>]<br/>
Password: [<a href="#">change</a>]<br/>
Number of <a href="#">forum</a> posts: 1<br/>
Last forum post: <a href="#">*NOOB* Why is there no category selection possible?</a><br/>
<a href="#">Delete account</a> (confirmation required)<br/>
</p>
</div>
